/*! purgecss start ignore */

/* Base */
@import 'config';
@import 'typography';
/*! purgecss end ignore */

$default-font-size: 62.5%;

.text-carousel {
  padding-bottom: 10px;
  padding-top: 10px;
  background-repeat: space;
  height: 1000vh;
  // transform: translateY(-5%);
  position: absolute;
  top: 0;
  transition: 1500ms;
  padding: 0 10px;
}
.text-carousel-1 {
  background-image: url('/images/1.svg');
}
.text-carousel-2 {
  background-image: url('/images/2.svg');
}
.text-carousel-3 {
  background-image: url('/images/3.svg');
}

.swiper-pagination-bullet {
  background: transparent !important;
  height: 2.4rem !important;
  width: 2.4rem !important;
  margin-right: 3rem !important;
  position: relative;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  border: 1px solid #fff;
}

.swiper-pagination-bullet::after {
  content: '';
  background: #fff !important;
  border-radius: 50%;
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
