/* @import url('https://dollarfontclub.com/projects/6359729765812d1e9c58528a.css'); */

/* @font-face {
  font-family: 'Blonde';
  src: local('Blonde'),
    url('https://dollarfontclub.com/fonts/5f1758ddd6aa803f6064bdab.woff2')
      format('woff2'),
    url('https://dollarfontclub.com/fonts/5f1758ddd6aa803f6064bdab.woff')
      format('woff'),
    url('https://dollarfontclub.com/fonts/5f1758ddd6aa803f6064bdab.otf')
      format('opentype');
  font-display: auto;
  font-style: regular;
  font-weight: 200;
} */

/* @font-face {
  font-family: 'Galatea';
  src: url('/public/fonts/Galatea-Narrow.otf') format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
} */
/* @font-face {
  font-family: 'island';
  src: url('/public/fonts/IslandMoments-Regular.ttf') format('truetype');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
} */

/* * {
  font-family: 'island';
} */

/* .tbc-reg {
  font-family: 'TBCX-Regular';
}
.tbc-bold {
  font-family: 'TBCX-Bold';
}
.tbc-medium {
  font-family: 'TBCX-Medium';
} */
