@import url('https://dollarfontclub.com/projects/6359729765812d1e9c58528a.css');

* {
  font-family: 'Blonde-Regular';
}

.tbc-reg {
  font-family: 'TBCX-Regular';
}
.tbc-bold {
  font-family: 'TBCX-Bold';
}
.tbc-medium {
  font-family: 'TBCX-Medium';
}
