/* @font-face {
  font-family: 'Galatea';
  src: url('/public/fonts/Galatea-Narrow.otf') format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
} */
/* @font-face {
  font-family: 'island';
  src: url('/public/fonts/IslandMoments-Regular.ttf') format('truetype');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
} */

/* * {
  font-family: 'island';
} */

/* .tbc-reg {
  font-family: 'TBCX-Regular';
}
.tbc-bold {
  font-family: 'TBCX-Bold';
}
.tbc-medium {
  font-family: 'TBCX-Medium';
} */
